<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="docker-desktop" version="4.12.0"/>
	<package id="python" version="3.8.0"/>
	<package id="vscode" version="1.71.1"/>
	<package id="virtualbox" version="6.1.38"/>
	<package id="googlechrome" version="105.0.5195.127"/>
	<package id="discord" version="1.0.9006"/>
	<package id="git" version="2.37.3"/>
	<package id="minikube" version="1.26.1"/>
	<package id="vagrant" version="2.3.0"/>
	<package id="openjdk" version="18.0.2"/>
	<package id="maven" version="3.8.6"/>
	<package id="intellijidea-community" version="2022.2.1"/>
	<package id="awscli" version="2.7.32"/>
	<package id="adobereader" version="2022.002.20212"/>
	<package id="nodejs" version="18.9.0"/>
	<package id="github-desktop" version="3.0.8"/>
	<package id="golang" version="1.19.1"/>
	<package id="nvidia-geforce-now" version="2.0.41.91"/>
	<package id="spotify" version="1.1.94.870"/>
</packages>
